__pycache__/
dist/*
*.pyc

dist/

src/PhenGO.egg-info/

src/PhenGO/yeast/

src/PhenGO/PhenGO_Predict_dev.py

data/mouse/gene_association/2017/gene_association.mgi

data/mouse/phenotype_data/2017/MGI_PhenoGenoMP.rpt

data/worm/phenotype_data/WS250/phenotype_association.WS250.wb

data/yeast/phenotype_data/2025/phenotype_data.tab_20250103

src/PhenGO/data/worm/genes_direct_and_inferred_for_WBPhenotype_0000062_11-08-2025.txt

src/PhenGO/data/worm/lethal_terms_traversed_2025-08-12.tsv

src/PhenGO/data/worm/wbphenotype_2025-08-12.obo

*.tsv#
